@{
    ViewData["Title"] = "TaiKhoan";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    QuanLyBanHangContext context = new QuanLyBanHangContext();
    List<VaiTro> ListVaiTro()
    {
        return context.VaiTros.Where(x => x.Active == true).ToList();
    }

    List<NhanVien> ListNhanVien()
    {
        return context.NhanViens.Where(x => x.Active == true).ToList();
    }
}

@model BanHangOnl.Models.TaiKhoan

<div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/TaiKhoan">Danh sách tài khoản</a></li>
            <li class="breadcrumb-item active">Sửa thông tin tài khoản</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Horizontal Form</h5>

        <!-- Horizontal Form -->
        <form action="/TaiKhoan/Sua" method="post" id="formEditTaiKhoan">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tài khoản</label>
                <div class="col-sm-10">
                    <input asp-for="@Model.TenTk" type="text" class="form-control" id="inputText">
                    <input asp-for="@Model.Idtk" type="hidden" class="form-control" id="inputText">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Mật khẩu</label>
                <div class="col-sm-10">
                    <input asp-for="@Model.Pass" type="text" class="form-control" id="inputText">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Vai trò</label>
                <div class="col-sm-10">
                    <select required class="form-select" asp-for="@Model.Idvt" aria-label="Default select example">
                        <option value="" selected disabled> -- Vai trò --</option>

                        @foreach (VaiTro item in ListVaiTro())
                        {

                            <option value="@item.Idvt">@item.TenVt</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="IdNhanVien" class="col-sm-2 col-form-label">Thuộc nhân viên</label>
                <div class="col-sm-10">
                    <select required class="form-select" asp-for="@Model.NhanViens.First().Idnv" name="IdNhanVien" id="IdNhanVien" aria-label="Default select example">
                        <option value="" selected disabled> -- Nhân viên --</option>
                        @foreach (NhanVien item in ListNhanVien())
                        {

                            <option value="@item.Idnv">@item.Ten</option>
                        }
                    </select>
                </div>
            </div>
            
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <button type="reset" class="btn btn-secondary" onclick="window.history.go(-1);" >Hủy</button>
            </div>
        </form><!-- End Horizontal Form -->

    </div>
</div>

<script>

    $('#formEditTaiKhoan').submit(function (event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của form submit
        var userName = $('#txtUserName').val();
        var formData = $(this).serialize(); // Lấy dữ liệu từ form
        var idNhanVien = $('#IdNhanVien').val();
        formData = formData + "&idNhanVien=" + idNhanVien;
        console.log(formData);
        $.ajax({
            url: '/TaiKhoan/ViewSua/{id}', // Đường dẫn đến action xử lý form
            method: 'POST',
            data: formData,
            success: function (response) {
                window.location = '/TaiKhoan';
            },
            error: function (xhr, status, error) {
                // Xử lý lỗi (nếu có) khi gửi form
                console.error(error);
            }
        });
    });

    </script>

