@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    QuanLyBanHangContext context = new QuanLyBanHangContext();
    TaiKhoan tk = ViewBag.TaiKhoan;
}

@model BanHangOnl.Models.TaiKhoan


<div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/TaiKhoan">Danh sách tài khoản</a></li>
            <li class="breadcrumb-item active">Xem thông tin tài khoản</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="~/adassets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <h2></h2>
                    <h3></h3>

                    <div class="social-links mt-2">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Thông tin cá nhân</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false" role="tab" tabindex="-1">Chỉnh sửa</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password" aria-selected="false" role="tab" tabindex="-1">Đổi mật khẩu</button>
                        </li>
                        
                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade profile-overview active show" id="profile-overview" role="tabpanel">

                            <h5 class="card-title">Thông tin chi tiết</h5>

                            
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Họ tên</div>
                                <div class="col-lg-9 col-md-8">
                                    @if (Model.NhanViens.Any())
                                    {
                                        <span>@Model.NhanViens.First().Ten</span>
                                    }
                                    else if (Model.KhachHangs.Any())
                                    {
                                        <span>@Model.KhachHangs.First().TenKh</span>
                                    }
                                </div>
                           </div>

                            
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Giới tính</div>
                                    @*<div class="col-lg-9 col-md-8">@tk.GioiTinh</div>*@
                                <div class="col-lg-9 col-md-8">
                                    @if (Model.NhanViens.Any())
                                    {
                                        <span>
                                            @if (Model.NhanViens.First().GioiTinh == true)
                                            {
                                                <span>Nam</span>
                                            }
                                            else
                                            {
                                                <span>Nữ</span>
                                            }
                                        </span>
                                    }
                                    else if (Model.KhachHangs.Any())
                                    {
                                        <span>---</span>
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Quê quán</div>
                                <div class="col-lg-9 col-md-8">
                                    @if (Model.NhanViens.Any())
                                    {
                                        <span>@Model.NhanViens.First().QueQuan</span>
                                    }
                                    else if (Model.KhachHangs.Any())
                                    {
                                        <span>---</span>
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Địa chỉ</div>
                                <div class="col-lg-9 col-md-8">
                                    @if (Model.NhanViens.Any())
                                    {
                                        <span>@Model.NhanViens.First().DiaChi</span>
                                    }
                                    else if (Model.KhachHangs.Any())
                                    {
                                        <span>@Model.KhachHangs.First().DiaChi</span>
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Số điện thoại</div>
                                <div class="col-lg-9 col-md-8">
                                    @if (Model.NhanViens.Any())
                                    {
                                        <span>@Model.NhanViens.First().Sdt</span>
                                    }
                                    else if (Model.KhachHangs.Any())
                                    {
                                        <span>@Model.KhachHangs.First().Phone</span>
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">
                                    @if (Model.NhanViens.Any())
                                    {
                                        <span>@Model.NhanViens.First().Email</span>
                                    }
                                    else if (Model.KhachHangs.Any())
                                    {
                                        <span>@Model.KhachHangs.First().Email</span>
                                    }
                                </div>
                            </div>

                          
                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit" role="tabpanel">

                            <!-- Profile Edit Form -->
                            <form>
                                

                                <div class="row mb-3">
                                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Họ tên</label>
                                    

                                    <div class="col-md-8 col-lg-9">
                                        @if (Model.NhanViens.Any())
                                        {
                                            <input name="country" type="text" class="form-control" id="Country" value="@Model.NhanViens.First().Ten">
                                        }
                                        else if (Model.KhachHangs.Any())
                                        {
                                            <input name="country" type="text" class="form-control" id="Country" value="@Model.KhachHangs.First().TenKh">
                                        }
                                    </div>

                                </div>

                                
                                <div class="row mb-3">
                                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Giới tính</label>
                                    <div class="col-md-8 col-lg-9">
                                        @if (Model.NhanViens.Any())
                                        {
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" id="Male" value="true" @(Model.NhanViens.First().GioiTinh == true ? "checked" : "")>
                                                <label class="form-check-label" for="Male">Nam</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" id="Female" value="false" @(Model.NhanViens.First().GioiTinh == false ? "checked" : "")>
                                                <label class="form-check-label" for="Female">Nữ</label>
                                            </div>
                                        }
                                        else if (Model.KhachHangs.Any())
                                        {
                                            <input name="country" type="text" class="form-control" id="Country" value="">
                                        }
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Country" class="col-md-4 col-lg-3 col-form-label">Quê quán</label>
                                    <div class="col-md-8 col-lg-9">
                                        @if (Model.NhanViens.Any())
                                        {
                                            <input name="country" type="text" class="form-control" id="Country" value="@Model.NhanViens.First().QueQuan">
                                        }
                                        else if (Model.KhachHangs.Any())
                                        {
                                            <input name="country" type="text" class="form-control" id="Country" value="">
                                        }
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Địa chỉ</label>
                                    <div class="col-md-8 col-lg-9">
                                        @if (Model.NhanViens.Any())
                                        {
                                            <input name="country" type="text" class="form-control" id="Country" value="@Model.NhanViens.First().DiaChi">
                                        }
                                        else if (Model.KhachHangs.Any())
                                        {
                                            <input name="country" type="text" class="form-control" id="Country" value="@Model.KhachHangs.First().DiaChi">
                                        }
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Số điện thoại</label>
                                    <div class="col-md-8 col-lg-9">
                                        @if (Model.NhanViens.Any())
                                        {
                                            <input name="country" type="text" class="form-control" id="Country" value="@Model.NhanViens.First().Sdt">
                                        }
                                        else if (Model.KhachHangs.Any())
                                        {
                                            <input name="country" type="text" class="form-control" id="Country" value="@Model.KhachHangs.First().Phone">
                                        }
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                    <div class="col-md-8 col-lg-9">
                                        @if (Model.NhanViens.Any())
                                        {
                                            <input name="country" type="text" class="form-control" id="Country" value="@Model.NhanViens.First().Email">
                                        }
                                        else if (Model.KhachHangs.Any())
                                        {
                                            <input name="country" type="text" class="form-control" id="Country" value="@Model.KhachHangs.First().Email">
                                        }
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>

                        <div class="tab-pane fade pt-3" id="profile-change-password" role="tabpanel">
                            <!-- Change Password Form -->
                            <form method="post" action="/TaiKhoan/ThongTinTaiKhoan/@Model.Idtk">

                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu cũ</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="currentPassword" type="password" class="form-control" id="currentPassword" required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu mới</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="newPassword" type="password" class="form-control" id="newPassword" required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Nhập lại mật khẩu</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="renewPassword" type="password" class="form-control" id="renewPassword" required>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                </div>
                            </form><!-- End Change Password Form -->

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>

