@{
    ViewData["Title"] = "Nhóm tin tức";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";


}

@model BanHangOnl.Models.NhomHangHoa

<div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/NhomHangHoa">Danh sách nhóm hàng hóa</a></li>
            <li class="breadcrumb-item active">Thêm mới nhóm hàng hóa</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Horizontal Form</h5>

        <!-- Horizontal Form -->
        <form action="/NhomHangHoa/Them" method="post">

            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Mã nhóm</label>
                <div class="col-sm-10">
                    <input asp-for="@Model.MaNhh" type="text" class="form-control" id="inputText">
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tên nhóm</label>
                <div class="col-sm-10">
                    <input asp-for="@Model.TenNhh" type="text" class="form-control" id="inputText">
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Cấp nhóm</label>
                <div class="col-sm-10">
                    <select asp-for="@Model.Levels" id="selectCap" class="form-select">
                        <option selected="">Chọn cấp</option>
                        <option value="1">Cấp 1</option>
                        <option value="2">Cấp 2</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="@Model.Thuoc" id="selectNhom" class="form-select d-none">
                        <option selected disabled>Thuộc nhóm</option>
                        @foreach (NhomHangHoa item in ViewBag.NhomHHCap1)
                        {
                            <option value="@item.Idnhh">@item.TenNhh</option>
                        }
                    </select>
                </div>
            </div>
            
          
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <button type="reset" class="btn btn-secondary">Hủy</button>
            </div>
        </form><!-- End Horizontal Form -->

    </div>
</div>

@*<script>
    // Lấy thẻ select với id 'selectCap'
    var selectCap = document.getElementById('selectCap');

    // Lấy thẻ select với id 'selectNhom'
    var selectNhom = document.getElementById('selectNhom');

    // Thêm sự kiện 'change' cho thẻ select 'selectCap'
    selectCap.addEventListener('change', function () {
        console.log(123)
        // Kiểm tra giá trị được chọn trong 'selectCap'
        if (selectCap.value == '2') {
            // Nếu giá trị là 2, thì loại bỏ lớp 'd-none' khỏi 'selectNhom'
            selectNhom.classList.remove('d-none');
        } else {
            // Nếu giá trị khác 2, thì thêm lớp 'd-none' vào 'selectNhom'
            selectNhom.classList.add('d-none');
        }
    });
</script>*@



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Bắt sự kiện khi giá trị của select "Cấp nhóm" thay đổi
        $("#selectCap").change(function () {
            // Lấy giá trị được chọn
            var selectedValue = $(this).val();

            // Ẩn hoặc hiển thị select "Thuộc nhóm" tùy thuộc vào giá trị được chọn
            if (selectedValue === "2") {
                $("#selectNhom").removeClass("d-none");
            } else {
                $("#selectNhom").addClass("d-none");
            }
        });
    });
</script>