@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    QuanLyBanHangContext context = new QuanLyBanHangContext();



    string getTenNhom(int? id)
    {
        if (id > 0)
        {
            return context.NhomHangHoas.Find(id).TenNhh;

        }
        else
        {
            return "";
        }
    }

}


<div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách nhóm hàng hóa</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <h5 class="card-title">Datatables</h5>
                        </div>
                        <div class="col-auto mt-3">
                            <a href="/NhomHangHoa/Them" class="btn btn-success">Thêm mới</a>
                        </div>
                    </div>

                    <!-- Table with stripped rows -->
                    <table class="table datatable nhh">
                        <thead>
                            <tr>                            
                                <th scope="col">Mã nhóm</th>
                                <th scope="col">Tên nhóm</th>
                                <th scope="col">Level</th>
                                <th scope="col">Thuộc nhóm</th>
                                <th scope="col">Hiển thị</th>
                                <th scope="col">Tùy chọn</th>

                            </tr>
                        </thead>
                        <tbody id="tbodyNHH">
                            @foreach (NhomHangHoa tk in ViewBag.NhomHangHoa)
                            {
                                <tr>
                                    <td>@tk.MaNhh
                                        <input type="hidden" name="idNHH" value="@tk.Idnhh"/>
                                    </td>
                                    <td>@tk.TenNhh</td>
                                    <td>Cấp @tk.Levels</td>
                                    <td>@getTenNhom(@tk.Thuoc)</td>

                                    @if (tk.HienThi == true)
                                    {
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" name="active" id="flexSwitchCheckDefault" checked>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" name="active" id="flexSwitchCheckDefault">
                                            </div>
                                        </td>
                                    }

                                    <td>
                                        <a href="/NhomHangHoa/ViewSua/@tk.Idnhh" type="button" class="btn btn-primary btn-sm">Sửa</a>
                                        <a href="/NhomHangHoa/Xoa/@tk.Idnhh" onclick="return confirm('Bạn có muốn xóa thông tin?')" type="button" class="btn btn-outline-danger btn-sm">Xóa</a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>


<script>
    $('.nhh').on('click', 'input[name="active"]', function () {
        var idNHH = $(this).closest('tr').find('input[name="idNHH"]').val();
        $.ajax({
            url: '/NhomHangHoa/UpdateHienThi', // Đường dẫn đến action xử lý form
            method: 'POST',
            data: {
                idNHH: idNHH,
            },
        });
    });
</script>