@{
	ViewData["Title"] = "Thông tin tài khoản";
	Layout = "/Views/Shared/_Layout.cshtml";

    QuanLyBanHangContext context = new QuanLyBanHangContext();

    string formatNumber(double? tien)
    {
        return tien?.ToString("0,###");
    }

}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="~/usassets/styles/bootstrap4/bootstrap.min.css">
<link href="~/usassets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/usassets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="~/usassets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="~/usassets/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="~/usassets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/usassets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/usassets/styles/categories_responsive.css">



<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    .containerr {
        display: flex;
        justify-content: space-between;
    }

    .column {
        width: 30%; /* Điều chỉnh độ rộng của mỗi cột */
        border: 1px solid #ccc; /* Viền của mỗi ô */
        padding: 10px;
        margin: 5px;
    }

    .expandable {
        max-height: 100px; /* Chiều cao tối đa của ô trước khi được kéo giãn */
        overflow: hidden;
        transition: max-height 0.3s ease-out; /* Hiệu ứng khi kéo giãn */
    }

    .expanded {
        max-height: 500px; /* Chiều cao tối đa sau khi được kéo giãn */
    }

    .read-more {
        cursor: pointer;
        color: blue;
    }

    .column {
        display: flex;
        border: 1px solid #ccc;
        margin: 5px;
    }

    .image-column {
        flex: 0 0 30%; /* Điều chỉnh độ rộng của cột ảnh */
    }

    .content-column {
        flex: 1; /* Cột chứa nội dung sẽ chiếm phần còn lại của không gian */
        padding: 10px;
    }

    .expandable {
        display: flex;
        flex-direction: column;
        max-height: 100px; /* Chiều cao tối đa của ô trước khi được kéo giãn */
        overflow: hidden;
        transition: max-height 0.3s ease-out; /* Hiệu ứng khi kéo giãn */
    }

    .expanded {
        max-height: 500px; /* Chiều cao tối đa sau khi được kéo giãn */
    }

    .read-more {
        cursor: pointer;
        color: blue;
    }
</style>



<link rel="stylesheet" type="text/css" href="~/usassets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/usassets/styles/categories_responsive.css">


@model BanHangOnl.Models.HangHoa




<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active"><a href="/SanPham"><i class="fa fa-angle-right" aria-hidden="true"></i>Tất cả sản phẩm</a></li>
                </ul>
            </div>

            <!-- Imd=g -->
            <div class="collection_banner mb-4 container text-center">
                <a class="banner" href="/SanPham" title="">
                    <picture>
                        <source media="(min-width: 768px)" srcset="https://file.hstatic.net/1000378223/collection/all_items_3ebe1d98f1ab4aba8cd204511b6f9640.jpg" data-srcset="https://file.hstatic.net/1000378223/collection/all_items_3ebe1d98f1ab4aba8cd204511b6f9640.jpg">
                        <source media="(max-width: 767px)" srcset="//file.hstatic.net/1000378223/collection/all_items_3ebe1d98f1ab4aba8cd204511b6f9640_large.jpg" data-srcset="//file.hstatic.net/1000378223/collection/all_items_3ebe1d98f1ab4aba8cd204511b6f9640_large.jpg">
                        <img src="https://file.hstatic.net/1000378223/collection/all_items_3ebe1d98f1ab4aba8cd204511b6f9640.jpg" class=" img-fluid" width="1620" height="177" alt="">
                    </picture>
                </a>
            </div>

            
            <div class="containerr" style="padding: 30px">
                @foreach (Voucher hh in ViewBag.Voucher)
                {
                <div class="column">
                    <div class="image-column">                     
                        <img class="img-fluid" src="https://theme.hstatic.net/1000378223/1001167600/14/coupon_1_img.png?v=10" alt="coupon_1_img.png" width="69" height="50">                       
                    </div>

                    <div class="content-column">
                       <div class="expandable">
                          <a style="font-weight: bold; font-size: 20px">@hh.MaVoucher</a>
                            <small style="font-size: 12px">
                                - Áp dụng cho tất cả đơn hàng<br>
                                - Áp dụng tất cả chương trình<br>
                                - Số lượng có hạn
                            </small>
                       </div>
                    </div>
                </div>
                }
            </div>
            
            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Tất cả sản phẩm</h5>

                    </div>

                    @foreach (NhomHangHoa hh in ViewBag.NhomHangHoaCap1)
                    {
                        <ul class="sidebar_categories">
                            <li class="category-item">
                                <a href="/NhomSanPham/@hh.TenNhh" onmouseover="showSubCategories(this)" onmouseout="hideSubCategories(this)">
                                    <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@hh.TenNhh
                                </a>

                                <ul class="sub-categories">
                                @foreach (NhomHangHoa hh2 in ViewBag.NhomHangHoaCap2)
                                {
                                    if (hh2.Thuoc == hh.Idnhh)
                                    {
                                            <li>
                                                <a href="/NhomSanPham/@hh.TenNhh" style="color: #666666;">@hh2.TenNhh</a>
                                            </li>
                                    }
                                }
                                </ul>

                            </li>
                        </ul>
                    }
                </div>

                <!-- Price Range Filtering -->
                @*<div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Lọc theo giá</h5>
                    </div>
                    <p>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </p>
                    <div id="slider-range"></div>
                    <div class="filter_button"><span>Lọc</span></div>

                    <hr />
                   @Html.Action("Refresh", "Home")
                </div>*@

                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Filter by Price</h5>
                    </div>
                    <p>
                        <input type="text" id="amount" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
                    </p>
                    <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                        <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 58%;"></div>
                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span>
                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 58%;"></span>
                    </div>
                    <div class="filter_button"><span>filter</span></div>
                </div>

            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                <ul class="product_sorting">
                                    <li>
                                        <span class="type_sorting_text">Phân loại</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_type">
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Số lượng</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Giá</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Tên</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Hiển thị</span>
                                        <span class="num_sorting_text">6</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>6</span></li>
                                            <li class="num_sorting_btn"><span>12</span></li>
                                            <li class="num_sorting_btn"><span>24</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="pages d-flex flex-row align-items-center">
                                    <div class="page_current">
                                        <span>1</span>
                                        <ul class="page_selection">
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                        </ul>
                                    </div>
                                    <div class="page_total"><span>/</span> 3</div>
                                    <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                </div>

                            </div>

                            <!-- Product Grid -->
                           
							<div class="product-grid" style="position: relative; height: 1140px;">

								<!-- Product 1 -->
                                @foreach (HangHoa hh in ViewBag.HangHoa)
                                {
                                    <div class="product-item men" style="position: absolute; left: 0px; top: 0px;">
                                        <div class="product discount product_filter" style="border-right: 1px solid rgb(233, 233, 233); padding: 5px">
                                            <div class="product_image">
                                                @{
                                                    string urlImage = hh?.ImgHangHoas.FirstOrDefault(x => x.IsDefault == true)?.Img;
                                                }
                                                <img src="@urlImage" alt="">
										</div>
										<div class="favorite favorite_left"></div>
										<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
										<div class="product_info">
												<h6  class="product_name"><a href="/SanPham/ChiTietSanPham/@hh.Idhh">@hh.TenHh</a></h6>
                                                <div class="product_price">@formatNumber(@hh.GiaBan)<span>799,999</span></div>
										</div>
									</div>
									<div class="red_button add_to_cart_button">
                                            <div class="red_button add_to_cart_button"><a href="#" data-idhh="@hh.Idhh" data-sl="1" data-ten="@hh.TenHh" data-gia="@hh.GiaBan" data-mau="" data-size="" data-url="@urlImage">Thêm vào giỏ hàng</a></div>
                                    </div>
								    </div>
								}
								
							</div>

                            <!-- Product Sorting -->

                            <div class="pages d-flex flex-row align-items-center">
                            <div class="page_current">
                            <span>1</span>
                            <ul class="page_selection">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            </ul>
                            </div>
                            <div class="page_total"><span>/</span> 3</div>
                            <div id="next_page_1" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                            </div>

                          

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="~/usassets/js/categories_custom.js"></script>
<script>
    function toggleExpand(element) {
        var parent = element.parentNode;
        parent.classList.toggle('expanded');
    }
</script>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy danh sách các thẻ chứa các nhóm hàng hóa
        var categoryItems = document.querySelectorAll('.category-item');

        // Lặp qua từng thẻ và thêm sự kiện mouseover và mouseout
        categoryItems.forEach(function (item) {
            item.addEventListener('mouseover', function () {
                // Khi di chuột vào, thêm lớp 'active' cho thẻ con chứa các thẻ nhỏ
                var subCategories = this.querySelector('.sub-categories');
                if (subCategories) {
                    subCategories.classList.add('active');
                }
            });

            item.addEventListener('mouseout', function () {
                // Khi di chuột ra, xóa lớp 'active' cho thẻ con chứa các thẻ nhỏ
                var subCategories = this.querySelector('.sub-categories');
                if (subCategories) {
                    subCategories.classList.remove('active');
                }
            });
        });
    });
</script>

<style>
    /* Ẩn các thẻ nhỏ ban đầu */
    .sub-categories {
        display: none;
    }

        /* Hiển thị các thẻ nhỏ khi có lớp 'active' */
        .sub-categories.active {
            display: block;
        }
</style>




<script src="~/usassets/js/jquery-3.2.1.min.js"></script>
<script src="~/usassets/styles/bootstrap4/popper.js"></script>
<script src="~/usassets/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/usassets/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="~/usassets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/usassets/plugins/easing/easing.js"></script>
<script src="~/usassets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="~/usassets/js/categories_custom.js"></script>