@{
    ViewData["Title"] = "Voucher";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách voucher</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <h5 class="card-title">Datatables</h5>
                        </div>
                        <div class="col-auto mt-3">
                            <a href="/Voucher/Them" class="btn btn-success">Thêm mới</a>
                        </div>
                    </div>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">Mã voucher</th>
                                <th scope="col">Tên voucher</th>
                                
                                <th scope="col">Ngày áp dụng</th>
                                <th scope="col">Ngày kết thúc</th>
                                <th scope="col">Áp dụng giảm giá</th>
                                <th scope="col">Hiển thị</th>
                                <th scope="col">Tùy chọn</th>

                            </tr>
                        </thead>
                        <tbody id="tbodyVC">
                            @foreach (Voucher tk in ViewBag.Voucher)
                            {
                                <tr>
                                    <td>@tk.MaVoucher
                                        <input type="hidden" name="idVC" value="@tk.Id" />
                                    </td>
                                    <td>@tk.TenVoucher</td>
                              
                                    <td>@tk.NgayBd</td>
                                    <td>@tk.NgayKt</td>
                                    <td>@tk.ApDung %</td>
                                    @if (tk.HienThi == true)
                                    {
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" name="active" id="flexSwitchCheckDefault" checked>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" name="active" id="flexSwitchCheckDefault">
                                            </div>
                                        </td>
                                    }
                                    <td>
                                        <a href="/Voucher/ViewSua/@tk.Id" type="button" class="btn btn-primary btn-sm">Sửa</a>
                                        <a href="/Voucher/Xoa/@tk.Id" onclick="return confirm('Bạn có muốn xóa thông tin?')" type="button" class="btn btn-outline-danger btn-sm">Xóa</a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>


<script>
    $('#tbodyVC').on('click', 'input[name="active"]', function () {
        var idVC = $(this).closest('tr').find('input[name="idVC"]').val();
        $.ajax({
            url: '/Voucher/UpdateHienThi', // Đường dẫn đến action xử lý form
            method: 'POST',
            data: {
                idVC: idVC,
            },
        });
    });
</script>