@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "/Views/Shared/_Layout.cshtml";
    QuanLyBanHangContext context = new QuanLyBanHangContext();
}
<style>
       media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }

    .card-registration .select-arrow {
    top: 13px;
    }

    .bg-grey {
        background-color: #f7f7f7;
    }

    media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

    media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
</style>

@*<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->

            <div class="row">
                <div class="col-md-12" id="load_data">
                </div>
                <div class="col-md-12">
                    if (ViewBag.CheckCart != null)
                    {
                        <div class="text-right">
                            <a href="#" class="btn btn-danger btnDeleteAll">Xóa</a>
                            <a href="/thanh-toan" class="btn btn-success">Thanh toán</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>*@



<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/GioHang">Giỏ hàng</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a></li>
                </ul>
            </div>

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/GioHang">Giỏ hàng</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a></li>
                </ul>
            </div>

         <form action="/GioHang/CreatePaymentUrl" id="frmCreateOrder" method="POST">

            <section class="h-100 h-custom">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12">
                            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                                <div class="card-body p-0">
                                    <div class="row g-0">
                                        <div class="col-lg-8">


                                            <div class="p-5">

                                                <h6 class="mb-0">
                                                    <a href="/SanPham" class="text-body" onclick="window.history.go(-1);">
                                                        <i class="fas fa-long-arrow-alt-left me-2">Tiếp tục mua sắm</i>
                                                    </a>
                                                </h6>

                                                @foreach (var d in ViewBag.Cart)
                                                {
                                                    int idHh = int.Parse(d.idHh.ToString());
                                                    var hh = context.HangHoas.Include(x=>x.IdnhhNavigation)
                                                    .Include(x=>x.ChiTietPhieuNhaps)
                                                    .ThenInclude(x => x.IdmauNavigation)
                                                    .Include(x => x.ChiTietPhieuNhaps)
                                                    .ThenInclude(x => x.IdsizeNavigation)
                                                    .Include(x=>x.ImgHangHoas)
                                                    .FirstOrDefault(c => c.Idhh == idHh);
                                                    var mau = hh.ChiTietPhieuNhaps.GroupBy(x => x.IdmauNavigation).ToList();
                                                    var size = hh.ChiTietPhieuNhaps.GroupBy(x => x.IdsizeNavigation).ToList();
                                                    var slCon = hh.ChiTietPhieuNhaps.Sum(x => x.SoLuong - x.SoLuongXuat);
                                                    <hr class="my-4">

                                                    <div class="row mb-4 d-flex justify-content-between align-items-center row-item @(slCon < 1 ? "hetHang" : "conHang")">
                                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                                            <img src="@hh?.ImgHangHoas.FirstOrDefault(x => x.IsDefault == true)?.Img"
                                                                 class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                                            <h6 class="text-muted">@hh.IdnhhNavigation?.TenNhh</h6>
                                                            <h6 class="text-black">@hh.TenHh</h6>
                                                            @if(slCon < 1){
                                                                <h6 class="text-danger mb-0">Hết hàng</h6>
                                                            }else{
                                                                <h6 class="text-success mb-0">Còn hàng</h6>
                                                            }
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                            <button class="btn btn-link px-2 down">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M6 9l6 6l6 -6" /></svg>
                                                            </button>

                                                            <input id="form1" min="0" name="quantity" value="@d.sl" type="number" max="@slCon"
                                                                   class="form-control form-control-sm sl" style="min-width:50px" />

                                                            <button class="btn btn-link px-2 up">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M6 15l6 -6l6 6" /></svg>
                                                            </button>
                                                        </div>
                                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                            <h6 class="mb-0">@hh.GiaSale?.ToString("0.###") VNĐ</h6>
                                                        </div>
                                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                            <a href="#" class="text-danger remove-cookies" data-idhh="@hh.Idhh">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                                                            </a>
                                                        </div>
                                                        <div class="col-12 mt-1">
                                                            <div class="row">
                                                                <div class="col-4">
                                                                    <input type="hidden" class="idHh" value="@hh.Idhh"/>
                                                                    <input type="hidden" class="giaBan" value="@hh.GiaSale" />
                                                                    <select class="form-control cbMau">
                                                                        @foreach (var m in mau)
                                                                        {
                                                                            <option value="@m?.Key.Idmau">@m?.Key.Mau1 </option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                                <div class="col-4">
                                                                    <select class="form-control cbSize">
                                                                        @foreach (var s in size)
                                                                        {
                                                                            <option value="@s?.Key.Idsize">@s?.Key.Size1 </option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-4 bg-grey">
                                            <div class="p-5">
                                                <h3 class="fw-bold mb-5 mt-2 pt-1">BEdward</h3>
                                                <hr class="my-4">


                                                <h5 class="text-uppercase mb-3">Mã Voucher</h5>

                                                <div class="mb-5">
                                                    <div class="form-outline">
                                                        <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Examplea2">Enter your code</label>
                                                    </div>
                                                </div>

                                                <hr class="my-4">

                                                <div class="d-flex justify-content-between mb-5">
                                                    <h5 class="text-uppercase">Tổng cộng: </h5>
                                                    <h5 id="tongGia"> VNĐ</h5>
                                                </div>

                                                    @*<button type="submit" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">
                                                    <a href="#" id="thanhToan">THANH TOÁN</a>
                                                </button>*@
                                                    <button type="submit" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark" id="thanhToan">
                                                        THANH TOÁN
                                                    </button>
@*                                                <button type="submit" class="btn btn-primary">Thanh toán</button>
*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </form>
        </div>
    </div>
</div>
<script>
    function updateTong() {
        var tong = 0;
        $('.conHang .giaBan').each(function () {
            var sl = $(this).closest('.conHang').find('.sl').val();
            if ($(this).val()) {
                tong += parseFloat($(this).val()) * parseFloat(sl);
            }
        });
        var formattedNumber = tong.toLocaleString('en-US', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2 });
        $('#tongGia').text(formattedNumber + ' VNĐ');
    }
    updateTong();
    $(document).on('input', '.sl', function () {
        updateTong();
    })
    $(document).on('click', '.up', function () {
       this.parentNode.querySelector('input[type=number]').stepUp();
        $(this.parentNode.querySelector('input[type=number]')).trigger('input');
    })
    $(document).on('click', '.down', function () {
        this.parentNode.querySelector('input[type=number]').stepDown();
        $(this.parentNode.querySelector('input[type=number]')).trigger('input');
    })
    $(document).on('click', '.remove-cookies', function (event) {
        event.preventDefault();

        var a = $(this);
        $.ajax({
            url: '/removeCookies',
            type: 'POST',
            data: 'idHh=' + a.data('idhh'),
            success: function (response) {
                showNumberOfCart(response);
                a.closest('.row-item').prev('hr').remove();
                a.closest('.row-item').remove();
                updateTong();
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
    $('#thanhToan').click(function (event) {
        event.preventDefault();
        var phieuXuatCT = [];
        $('.conHang').each(function(){
            var row = $(this);
            var ct = {
                Idctpx: 0,
                Idhh: parseInt(row.find('.idHh').val()),
                SoLuong: parseFloat(row.find('.sl').val()),
                Gia: parseFloat(row.find('.giaBan').val()),
                Idsize: parseInt(row.find('.cbSize').val()),
                Idmau: parseInt(row.find('.cbMau').val())
            }
            phieuXuatCT.push(ct);
        })
        $.ajax({
            url: '/thanhToanHoaDon',
            type: 'POST',
            data: JSON.stringify(phieuXuatCT),
            contentType: "application/json",
            success: function (response) {
                if(response.statusCode == 403){
                    window.location.href = "/DangNhap"
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>

@*<script src="~/usassets/js/categories_custom.js" defer></script>*@



