@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    QuanLyBanHangContext context = new QuanLyBanHangContext();
    PhieuNhap phieuNhap = ViewBag.PhieuNhap;

}


<div class="pagetitle">
    <h1>Profile</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/PhieuNhap">Danh sách phiếu nhập</a></li>
            <li class="breadcrumb-item active">Xem thông tin phiếu nhập</li>
        </ol>
    </nav>
</div>
<section class="section profile">


            <div class="card">
                <div class="card-body">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Chi tiết phiếu nhập</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false" tabindex="-1" role="tab">Hàng hóa nhập</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">                        
                            <h5 class="card-title">Thông tin chi tiết</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Số phiếu nhập</div>
                                <div class="col-lg-9 col-md-8">@phieuNhap.SoPn</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Ngày nhập</div>
                                <div class="col-lg-9 col-md-8">@phieuNhap.NgayNhap</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Người nhập</div>
                                <div class="col-lg-9 col-md-8">@phieuNhap.IdnvNavigation.Ten</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Nhà cung cấp</div>
                                <div class="col-lg-9 col-md-8">@phieuNhap.IdnccNavigation.TenNcc</div>
                            </div>
                        </div>
                    </div><!-- End Bordered Tabs -->

                    <div id="table-nhapkho" class="table-responsive">
                        <table class="table table-bordered table-vcenter table-input" id="tableTaoChiTietPhieuNhap">
                            <thead>
                                <tr class="text-wrap">
                                    <th class="text-center p-1 first-th-column text-wrap" style="width:32px;">TT</th>
                                    <th class="text-center p-1 w-25 text-wrap" style="position: sticky;left: 33px;z-index: 4 !important;">Tên hàng hóa</th>
                                    <th class="text-center p-1 text-wrap">SL nhập</th>
                                    <th class="text-center p-1 text-wrap">Giá nhập</th>
                                    <th class="text-center p-1 text-wrap">Size</th>
                                    <th class="text-center p-1 text-wrap">Màu</th>
                                    <th class="text-center p-1 text-wrap">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody id="tBody-ThemChiTietPhieuNhap">
                        @{
                            int i = 1; 
                        }
                        @foreach(ChiTietPhieuNhap ct in phieuNhap.ChiTietPhieuNhaps){
                            <tr>
                                <td class="text-center p-1 text-wrap">@i</td>
                                <td class="text-center p-1 text-wrap">@ct?.IdhhNavigation?.TenHh</td>
                                <td class="text-center p-1 text-wrap">@ct?.SoLuong</td>
                                <td class="text-center p-1 text-wrap">@ct?.Gia</td>
                                <td class="text-center p-1 text-wrap">@ct?.IdsizeNavigation?.Size1</td>
                                <td class="text-center p-1 text-wrap">@ct?.IdmauNavigation?.Mau1</td>
                                <td class="text-center p-1 text-wrap">@(ct?.SoLuong * ct?.Gia)</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                        </table>
                    </div>

                </div>
            </div>


</section>


