@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    QuanLyBanHangContext context = new QuanLyBanHangContext();

}


<div class="pagetitle">
    <h1>Thông tin khách hàng</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/KhachHang">Trang chủ</a></li>
            <li class="breadcrumb-item">Xem</li>
            <li class="breadcrumb-item active">Thông tin khách hàng</li>
        </ol>
    </nav>
</div>
<section class="section profile">
    <div class="row">
       


            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Thông tin cá nhân</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#donhang" aria-selected="false" role="tab" tabindex="-1">Đơn hàng</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false" role="tab" tabindex="-1">Lịch sử đặt hàng</button>
                        </li>

                        

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade profile-overview active show" id="profile-overview" role="tabpanel">

                            <h5 class="card-title">Thông tin chi tiết</h5>


                            @foreach (KhachHang tk in ViewBag.KhachHang)
                            {

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Mã khách hàng</div>
                                    <div class="col-lg-9 col-md-8">@tk.MaKh</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Họ tên</div>
                                    <div class="col-lg-9 col-md-8">@tk.TenKh</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Số điện thoại</div>
                                    <div class="col-lg-9 col-md-8">@tk.Phone</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">@tk.Email</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Địa chỉ</div>
                                    <div class="col-lg-9 col-md-8">@tk.DiaChi</div>
                                </div>                     
                            }

                        </div>

                    <div class="tab-pane fade profile-overview" id="donhang" role="tabpanel">

                          <h5 class="card-title">Thông tin chi tiết</h5>
                               
                          @foreach(PhieuXuat px in ViewBag.DonDangGiao){
                            
                        
                        <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Mã đơn hàng</div>
                                    <div class="col-lg-9 col-md-8"> @px.SoPx</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Ngày đặt hàng</div>
                                    <div class="col-lg-9 col-md-8">@px.NgayTao</div>
                                </div>
                            <div id="table-nhapkho" class="table-responsive">
                                <table class="table table-bordered table-vcenter table-input" id="tableDonHang">
                                    <thead>
                                        <tr class="text-wrap">
                                            <th class="text-center p-1 first-th-column text-wrap" style="width:32px;">TT</th>
                                            <th class="text-center p-1 w-25 text-wrap" style="position: sticky;left: 33px;z-index: 4 !important;">Tên hàng hóa</th>
                                            <th class="text-center p-1 text-wrap">SL</th>
                                            <th class="text-center p-1 text-wrap">Giá</th>
                                            <th class="text-center p-1 text-wrap">Size</th>
                                            <th class="text-center p-1 text-wrap">Màu</th>
                                            <th class="text-center p-1 text-wrap">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tBody-DonHang">
                                        @{
                                            int i = 1;
                                        }
                                        @foreach(ChiTietPhieuXuat ct in px.ChiTietPhieuXuats){
                                            <tr>
                                                <td>@i</td>
                                                <td>@ct?.IdhhNavigation?.TenHh</td>
                                                <td>@ct.SoLuong</td>
                                                <td>@ct.Gia</td>
                                                <td>@ct?.IdsizeNavigation?.Size1</td>
                                                <td>@ct?.IdmauNavigation?.Mau1</td>
                                                <td>@(ct.SoLuong * ct.Gia)</td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                    </table>
                                </div>
                                
                               @*  <div class="row justify-content-end">
                                    @if (px.DonTra != true)
                                    {
                                        <button id="traHang" class="col-auto btn btn-success" onclick="traHang(@px.Idpx)">Trả hàng</button>
                                    }
                                    else
                                    {
                                        <button class="col-auto btn btn-success" disabled>Trả hàng</button>
                                    }

                                </div> *@
                                }
                    </div>

                    <div class="tab-pane fade profile-overview" id="profile-edit" role="tabpanel">
                        <h5 class="card-title">Thông tin chi tiết</h5>
                                                  @foreach(PhieuXuat px in ViewBag.LichSuDon){

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Mã đơn hàng</div>
                            <div class="col-lg-9 col-md-8"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Ngày đặt hàng</div>
                            <div class="col-lg-9 col-md-8"></div>
                        </div>
                        <div id="table-nhapkho" class="table-responsive">
                            <table class="table table-bordered table-vcenter table-input" id="tableDonHang">
                                <thead>
                                    <tr class="text-wrap">
                                        <th class="text-center p-1 first-th-column text-wrap" style="width:32px;">TT</th>
                                        <th class="text-center p-1 w-25 text-wrap" style="position: sticky;left: 33px;z-index: 4 !important;">Tên hàng hóa</th>
                                        <th class="text-center p-1 text-wrap">SL</th>
                                        <th class="text-center p-1 text-wrap">Giá</th>
                                        <th class="text-center p-1 text-wrap">Size</th>
                                        <th class="text-center p-1 text-wrap">Màu</th>
                                        <th class="text-center p-1 text-wrap">Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody id="tBody-DonHang">
                                        @{
                                            int j = 1;
                                        }
                                        @foreach (ChiTietPhieuXuat ct in px.ChiTietPhieuXuats)
                                        {
                                            <tr>
                                                <td>@j</td>
                                                <td>@ct?.IdhhNavigation?.TenHh</td>
                                                <td>@ct.SoLuong</td>
                                                <td>@ct.Gia</td>
                                                <td>@ct?.IdsizeNavigation?.Size1</td>
                                                <td>@ct?.IdmauNavigation?.Mau1</td>
                                                <td>@(ct.SoLuong * ct.Gia)</td>
                                            </tr>
                                            j++;
                                        }
                                </tbody>
                            </table>
                        </div>  
                        }
                        </div>

                       @* <div class="tab-pane fade pt-3" id="profile-change-password" role="tabpanel">
                            <!-- Change Password Form -->
                            <form>

                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu cũ</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="password" type="password" class="form-control" id="currentPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu mới</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Nhập lại mật khẩu</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                </div>
                            </form><!-- End Change Password Form -->

                        </div>*@

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>

</section>

